---
layout: default
title: Trabalhos
permalink: trabalhos/
---

<section class="sutia">
	<div class="container">
		<p class="col-sm-12 col-lg-8 offset-lg-2">Trabalhamos de maneira tal, considerando tal coisa durante nosso processo criativo.</p>
	</div>
</section>

<section class="filtros">
	<nav class="container navbar navbar-expand-lg d-flex justify-content-center">
		<ul>
			<li><a href="">Ambientação</a></li>
			<li><a href="">Digital</a></li>
			<li><a href="">Editorial</a></li>
			<li><a href="">Ilustração</a></li>
			<li><a href="">Lettering</a></li>
		</ul>
	</nav>
</section>

<section>
	<div class="container">
		<div class="row galeria">
			{% include thumb-projeto-destaque.html %}
			<div class="descricao col-sm-12 col-md-6 col-lg-4">
				<p>Aqui um breve texto explicando essa categoria que inclui  identidade visual, naming e consultoria. Três linhas de texto são suficiente, acreditamos que boas ideias lorem ipsum dolor sit.</p>
			</div>
			{% for i in (1..11) %}
				{% include thumb-projeto.html %}
			{% endfor %} 
		</div>
		<div class="row mais-projetos">
			<button type="button" class="btn btn-primary btn-lg ml-auto mr-auto">
				Mais projetos
			</button>
		</div>
	</div>
</section>

<section class="clientes">
	<div class="container">
		<div class="row">
			<h2 class="col">Também trabalhamos com:</h2>
		</div>
		<div class="row justify-content-around">
			{% for i in (1..4) %}
			<div class="cliente col-sm-5 col-md-5 col-lg-2">
				<img src="/img/cliente.svg">
			</div>
			{% endfor %}
		</div>
		<div class="row justify-content-around">
			{% for i in (1..4) %}
			<div class="cliente col-sm-5 col-md-5 col-lg-2">
				<img src="/img/cliente.svg">
			</div>
			{% endfor %}
		</div>
	</div>
</section>

